
@keyframes fadeInOut {
    0%, 100% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
  }
  
  .home-container {
    text-align: center;
    padding: 20px;
  }
  
  .welcome-text {
    font-size: 24px;
    margin-bottom: 20px;
    animation: fadeInOut 3s infinite; 
  }
  
  .content-container {
    max-width: 100%;
  }
  
  .home-image {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  
  .content-text {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    max-width: 100%;
    margin: 20px auto;
  }
  
  @media only screen and (max-width: 768px) {
    /* Adjust styles for tablets and smaller screens */
    .welcome-text {
      font-size: 20px;
    }
  
    .home-image {
      max-width: 80%;
    }
  
    .content-text {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 480px) {
   
    .welcome-text {
      font-size: 18px;
    }
  
    .home-image {
      max-width: 100%;
    }
  
    .content-text {
      font-size: 14px;
    }
  }